@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Expenses";
}

@model List<Expense>

<div class="text-center">
    <h1 class="display-4">Expenses</h1>
    <br />
    <hr />
    <h3>Total Expenses $@ViewBag.Expenses</h3>
    <br />
    <a asp-action="CreateEditExpense" asp-asp-controller="Home" class="btn btn-primary">Create New</a>
    <hr />
    <table class="table">
        <thead>
                <tr>
                    <th>Id</th>
                    <th>Value</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
        </thead>
        <tbody> 
            @{
                foreach(var expense in Model)
                {
                    <tr>
                        <td>@expense.Id</td>
                        <td>@expense.Value</td>
                        <td>@expense.Description</td>
                        <td>
                            <a asp-controller="Home" asp-action="CreateEditExpense" asp-route-id="@expense.Id" class="btn btn-primary">Edit</a>
                            <a asp-controller="Home" asp-action="DeleteExpense" asp-route-id="@expense.Id" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
